<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muze</title>
    <link rel="stylesheet" href="css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">


     <script src="js/vue.min.js"></script>
    
     <style>
        .container {
            width: 50%;
            margin: 20px auto 0px auto;
        }
        
        .removed label {
            text-decoration: line-through;
        }
        
        ul li {
            list-style-type: none;
        }

    </style>
</head>
    <nav>
        <div class= "return">
            <a href="genres.html">Back to genres</a>
        </div>
    </nav>
<body>
    
    <iframe id="ytVideo" width="560" height="315" src="https://www.youtube.com/embed/xQI9oZEY-B0" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <br>
    <button onclick="changeSong()">Change song</button>
    
    <div id="app" class="container">
        <h2 style="color: white;  text-decoration: underline;">{{ title }}</h2>
        <div class="input-group">
            <input v-model="newItem" @keyup.enter="addItem" placeholder="add song to playlist" type="text" class="form-control">
        </div>
        <ul>
            <li v-for="item in items" :class="{ 'removed': item.checked }">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="item.checked"> {{ item.text }}
                    </label>
                </div>
            </li>
        </ul>
    </div>


<script type="text/javascript">    
    var song = new Array();
            song[0] = "error";
            song[1] = "https://www.youtube.com/embed/om3n2ni8luE";
            song[2] = "https://www.youtube.com/embed/fE2h3lGlOsk";
            song[3] = "https://www.youtube.com/embed/0lapF4DQPKQ";
            song[4] = "https://www.youtube.com/embed/XkxWIAe3NDU";
            song[5] = "https://www.youtube.com/embed/Ygrv55VRRas";
            song[6] = "https://www.youtube.com/embed/I-gjCidEmnI";
            song[7] = "https://www.youtube.com/embed/-sKqPjhSiq0";
            song[8] = "https://www.youtube.com/embed/-sKqPjhSiq0";
            song[9] = "https://www.youtube.com/embed/6rc_R5XvT3Q";
            song[10] = "https://www.youtube.com/embed/NoYKBAajoyo";
            song[11] = "https://www.youtube.com/embed/mPVDGOVjRQ0";
    
    function changeSong() {
        var x = Math.floor((Math.random() * 10) + 1);
        var y = song[x];
        
        document.getElementById('ytVideo').src = y;
}
    new Vue({
            el: '#app',
            data: {
                newItem: '',
                items: [],
                title: 'Your Playlist'
            },
            methods: {
                addItem: function() {
                    var text;

                    text = this.newItem.trim();
                    if (text) {
                        this.items.push({
                            text: text,
                            checked: false
                        });
                        this.newItem = '';
                    }
                }
            }
        });
    

</script>
    
</body>
</html>